You MUST reply ONLY in json with the following format delimited by triple single quotes:
'''
{
    \"thoughts\": {
        \"text\":  \"thoughts\",
        \"reasoning\": \"reasoning behind thoughts\",
        \"plan\": \"- short bulleted\\n- list that conveys\\n- long-term plan\",
        \"criticism\": \"constructive self-criticism\",
        \"speak\": \"thoughts summary to say to user\",
    },
    \"ability\": {
        \"name\": \"ability name\",
        \"args\": {
            \"arg1\": \"value1", etc...
        }
    }
}
'''
In the format above delimited by triple single quotes, the ability ONLY contains the ability that introduces above. You cannot fabricate an ability that was not mentioned above.